/*-----------------------general styling -----------------------------------*/
body {
	background-image: url("mem1.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.jumbotron {
	display: flex;
	justify-content: center;
	background-color: rgb(233,236,239, 0.0);
	padding: 5px 10px 5px 10px;
}

button:focus {
    outline: 5px auto rgb(235,193,76);
}

/*---------------------mailChimp form ---------------------------------------*/
#mc_embed_signup {
	background: #ffffff;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif; 
	width: 400px;
	font-family: inherit;
	/* border: solid 1px #ffc107; */
	border-radius: 10px;
}

.clear {
	background-color: 
}

/*--------------------navigation----------------------------------------------*/
.navbar-brand {
	height: 40px;
}

.logo {
	height: 60px;
}

/*------------------blog posts----------------------------------------------*/
.row {
	background-color: #ffffff;
}
.blog-title:hover {
	color: rgb(235,193,76);
}

.card:hover {
	cursor: pointer;
}

.div-title {
	display: flex;
	justify-content: center;
	
}

#event2 {
	-webkit-transition: background-image 2s ease-in-out;
	transition: background-image 2s ease-in-out;
}

#event2:hover {
	background-image: url("pics/opera.jpg");
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#event3:hover {
	background-image: url("pics/food-truck.jpg");
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#event4:hover {
	background-image: url("pics/brewfest.jpg");
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#event5:hover {
	background-image: url("pics/rajun.jpg");
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mod-img {
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
}

#caption {
	color: #000000;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

#mod-link {
	color: #ffffff;
}

.modal-footer {
	display: flex;
	justify-content: center;
}


/*-------------------video-----------------------------------------------*/
.video {
	margin-top: 40px;
}

.my-video-dimensions {
    width: 100%;
    height: 100%;
	padding-top: 56.25%;
	margin-top: 20px;
}

.video-js {
  font-size: 10px;
  color: rgb(235,193,76);
}

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background-color: rgb(130,180,180);
  background-color: rgb(130,180,180,0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: rgb(235,193,76);
}
/*------------------------------------------------------------------*/

/* footer */
.footer {
	display: flex;
	background-color: #000000;
	width: 100%
	height: 160px;
	align-items: center;
	justify-content: justify;
}

#gitlogo {
	height: 50px;
}
#uvlogo {
	height: 120px;
}

.foot-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h5 {
	color: #ffffff;
}

#kbo {
	color: rgb(235,193,76);
}
