/*-----------------------general styling -----------------------------------*/
body {
	background-image: url("mem1.jpg");
    background-color: #ffffff;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.jumbotron {
	display: flex;
	justify-content: center;
	background-color: rgb(233,236,239, 0.0);
	padding: 5px 10px 5px 10px;
}

button:focus {
    outline: 5px auto rgb(235,193,76);
}

/*---------------------mailChimp form ---------------------------------------*/
#mc_embed_signup {
	background: #ffffff;
	clear: left;
	font: 14px Helvetica, Arial, sans-serif; 
	width: 400px;
	font-family: inherit;
	/* border: solid 1px #ffc107; */
	border-radius: 10px;
}

/*--------------------navigation----------------------------------------------*/
.navbar-brand {
	height: 40px;
}

.logo {
	height: 60px;
}

/*------------------blog posts----------------------------------------------*/
.row {
	background-color: #ffffff;
}

.blog-title:hover {
	cursor: pointer;
	color: rgb(235,193,76);
}

/*-------------------video-----------------------------------------------*/
.video {
	margin-top: 40px;
}

.my-video-dimensions {
    width: 100%;
    height: 100%;
	padding-top: 56.25%;
	margin-top: 20px;
}

.video-js {
  font-size: 10px;
  color: rgb(235,193,76);
}

/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  background-color: rgb(130,180,180);
  background-color: rgb(130,180,180,0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: rgb(235,193,76);
}
/*------------------------------------------------------------------*/
